body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/images/image\ 3.png);
    height: 100%; /* Replace with the height you want */
    width: 100%; /* Replace with the width you want */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.headLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

.headLine button{
    border: 2px solid black;
    border-radius: 5px;
    width: 5%;

}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
}

.search-container input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

@media (max-width: 600px) {
    .search-container input {
        width: 80%;
    }
}
